@import "tailwindcss";


hr{
    opacity: 20%;
}
button{
    outline: none;
}

summary::-webkit-details-marker {
  display: none
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/HelveticaNeueLight.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/HelveticaNeueMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/HelveticaNeueBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-helvetica: "Helvetica", system-ui, sans-serif;

  /* Fischerbon lms color palette */
    --color-primary:      #3c97d0;   /* Primary – Blue for buttons, links, and key actions */
    --color-primaryHover: #174579;   
    --color-secondary:    #2D89EF;   /* Secondary – Light gray for borders, secondary text, and UI elements */
    --color-accent:       #ACB4B9;   
    --color-gray:         #364153;   
    --color-muted:        #F5F7FA;   /* Muted – Soft background for cards, containers, and light mode */
    --color-dark:         #1A1A1A;   /* Dark – Text, headers, and dark mode backgrounds */
}

@layer base {
  body {
    @apply font-helvetica font-normal;
    background-color: var(--color-muted);
    color: var(--color-dark);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
